.content {
  margin-top: 2.375rem;
  margin-left: var(--mg-left-right);
}

.content__title {
  font-family: var(--lora);
  font-weight: 500;
  font-size: 2.25rem;
}

.content__info {
  margin-top: 1.5rem;

  font-family: var(--montserrat);
  font-weight: 400;
  font-style: 0.875rem;
  line-height: 1.125rem;
}

.content__more {
  display: flex;
  align-items: center;

  margin-top: 1.5rem;

  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 0.875rem;
}

.content__read {
  margin-right: var(--mg-left-right);
}

@media screen and (min-width: 1024px) {
  .content {
    margin-top: 14rem;
  }
}

@media screen and (min-width: 1044px) {
  .content {
    margin-top: 17rem;
    margin-left: 4.75rem;
  }

  .content__title {
    font-size: 3rem;
    line-height: 3.84rem;
  }

  .content__info {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
}
