.nav-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;
  margin-left: var(--mg-left-right);
  margin-right: var(--mg-left-right);
}

.nav-menu__logo {
  font-family: var(--crimson-pro);
  font-weight: 200;
  font-size: 0.875rem;
  text-transform: uppercase;

  min-width: 6.8rem;

  box-sizing: border-box;
  border: 1px solid var(--white);
  padding: 8px 9px;
}
